menuconfig LED_SUBSYSTEM
    bool "LED subsystem"
    default y

if LED_SUBSYSTEM

choice
    prompt "LED blink sleep time"
    default BLINK_SLEEP_1000MS

config BLINK_SLEEP_250MS
    bool "Very fast"

config BLINK_SLEEP_500MS
    bool "Fast"

config BLINK_SLEEP_1000MS
    bool "Medium"

config BLINK_SLEEP_2000MS
    bool "Slow"

endchoice

choice
    prompt "LED color"
    default LED_RED

config LED_GREEN
    bool "Green"

config LED_BLUE
    bool "Blue"

config LED_RED
    bool "Red"

endchoice

config BLINK_SLEEP_TIME_MS
    int 
    default 250 if BLINK_SLEEP_250MS
    default 1000 if BLINK_SLEEP_1000MS
    default 2000 if BLINK_SLEEP_2000MS
    default 1000
    help
        Time between LED toggles in milliseconds.

menuconfig ADV_LED
    bool "Advanced subsytem"

if ADV_LED
config LED_BRIGHTNESS
    int "LED brightness"
    default 100
    range 0 100

config LED_FADE_MS
    int "LED fade duration"
    default 500
    range 0 5000

menu "Expert settings"
    visible if ADV_LED
config LED_DEBUG
    bool "Enable LED debugging"

config LED_PATTERN
    bool "Custom patterns"
# TODO: custom patterns
endmenu

endif

endif #LED_SUBSYSTEM

source "Kconfig.zephyr"