choice
    prompt "LED subsystem"
    default BLINK_SLEEP_1000MS

config BLINK_SLEEP_250MS
    bool "Fast"

config BLINK_SLEEP_1000MS
    bool "Medium"

config BLINK_SLEEP_2000MS
    bool "Slow"

endchoice

config BLINK_SLEEP_TIME_MS
    int 
    default 250 if BLINK_SLEEP_250MS
    default 1000 if BLINK_SLEEP_1000MS
    default 2000 if BLINK_SLEEP_2000MS
    default 1000
    help
        Time between LED toggles in milliseconds.

source "Kconfig.zephyr"